@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

:root {
  --action-color: #E7000B;
  --mtm-status-color: #F54900;
  --action-text-color: #4A5565;
  --toggle-text-color: #404040;
  --actoin-bgColor: #FFE2E2;
  --action-rq-color: #C10007;
  --status-green-color: #00C950;
  --mtm-card-chip-bg-color: #DCFCE7;
  --status-green-colors: #EFFFF0;
  --status-text-colors: #289F2F;
  --mtm-card-chip-color: #008236;
  --status-color: #059669;
  --status-yellow-color: #F0B100;
  --status-red-color: #FB2C36;
  --status-text-color: #99A1AF;
  --status-bg-green-color: #B9F8CF;
  --status-bg-color: #fcefcb;
  --header-bg-color: #FFF3F3;
  --background-blue-color: #BEDBFF;
  --blue-color: #294E95;
  --mtm-icon-color: #155DFC;
  --mtm-icon-bg-color: #DBEAFE;
  --bg-color: #F9FAFB;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --mtm-title-color: #0A0A0A;
  --subTitle-color: #909090;
  --action-border-color: #FFC9C9;
  --action-chip-border-color: #D1D5DC;
  --tab-text-color: #D90204;
  --stock-title-color: #FAFAFA;
  --web-subtitle-color: #6A7282;
  --mtm-chip-bg-color: #E5E7EB;
  --replen-text-color: #737373;
  --replen-chip-text-color: #1447E6;
  --blue-color-text:#4E63D9;
  --blue-color-bg: #F9F8FF;
  --bar-color: #364153;
  --bar-second-color: #FF6467;
  --tab-bg-color: #64131E;
  --action-color-status:#4D144A;
  --action-status-bgcolor: #FFF5F5;
  --btn-color: #505050;
  --bar-color: #7a126b;
  --card-bg-color: linear-gradient(180deg, #64131E 0%, #2A1228 100%);



  --font-primary: 'Poppins', sans-serif;

}